{% extends 'base.html.twig' %}

{% block title %}Brink Veranstaltungstechnik :: Kundenmanagement{% endblock %}
{% block header %}Dashboard{% endblock %}
{% block body %}
    <div class="current_user">
        <img src="{{ asset('img/avatar.png') }}"
             alt="avatar"
             width="64"
             height="64" />

        <div class="user-info">
            <div class="name">
                Fabian Ernst
                <span>
                    <i class="fas fa-pencil c-pointer text-color-brink" aria-hidden="true"></i>
                </span>
            </div>
            <div class="role">
                Administrator | Geschäftsführer
            </div>
        </div>
    </div>
{% endblock %}