{% extends 'base.html.twig' %}

{% block title %}Brink Veranstaltungstechnik :: Kundenmanagement{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <h1>Übersicht</h1>
    <div class="current_user w-50 row">
        <div class="col-md-1">
            <img src="{{ asset('img/avatar.png') }}" alt="avatar"/>
        </div>
        <div class="col-md-9 container ps-4">
            <div class="row justify-content-center align-items-center h-100">
                <div>
                    <div class="col-md-12 name">Fabian Ernst <span><i class="fas c-pointer fa-pencil text-color-brink"></i></span></div>
                    <div class="col-md-12 role">Administrator | Geschäftsführer</div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .name {
            font-weight: bold;
        }

    </style>

{% endblock %}