<form method="post" action="{{ path('app_customer_delete', {'id': customer.id}) }}" onsubmit="return confirm('Möchten Sie diesen Kunden wirklich löschen?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer.id) }}">
    <button class="btn btn-outline-danger btn-sm">
        <i class="fas fa-trash fa-sm me-1"></i> Kunden löschen
    </button>
</form>
