{% extends 'base.html.twig' %}

{% block title %}Neuer Termin{% endblock %}

{% block body %}
    <h1>Neuen Termin anlegen</h1>

    {{ include('appointments/_form.html.twig') }}

    <a href="{{ path('app_appointments_index') }}">Zurück zur Liste</a>
{% endblock %}
