

body {
    background-color: white;
    font-family: 'Inter', sans-serif;
}

h1{
    font-size: 32px;
    font-weight: bold;
}

h2{
    font-size: 24px;
    font-weight: bold;
    color: #43A4CE;
}


.row{
    margin-bottom: 24px;
}

label{
    font-weight: bold;
}

a{
    color: #43A4CE;
}