
:root {
    --bs-primary: #43A4CE;
    --bs-primary-rgb: 14,165,233;
    --bs-box-shadow-lg: 0 0 1.67rem rgba(104, 104, 104, 0.79);
--bs-link-color: var(--bs-primary);
}


body {
    background-color: rgb(239, 234, 232);
    font-family: 'Inter', sans-serif;
}

h1{
    font-size: 32px;
    font-weight: bold;
    color: #303030;
}

h2{
    font-size: 24px;
    font-weight: bold;
    color: #43A4CE;
}


label{
    font-weight: bold;
}

a{
    color: #43A4CE;
    text-decoration: none;
}

.special-link{
    padding: 8px;
    color: #f9f9f9;
    background-color: #43A4CE;
    border-radius: 8px;
}

.special-link:hover{
    background-color: #2a7593;

}

.nav-link{
    color: white;
    font-size: 18px;
}

#sidebarMenu{
    background-color: #43A4CE;
}

.nav-link.active{
    font-weight: bold;
}

.nav-link:hover{
    font-weight: bold;
    color: white;
}

.sidebar-btn{
    border: 1px solid black;
    border-radius: 4px;
}

/* Container für die Tabelle */
.table-container {
    background-color: #eee8e8;
    padding: 16px;
    border-radius: 8px;
    overflow-y: auto;   /* Vertikales Scrollen innerhalb des Containers */
    -webkit-overflow-scrolling: touch;  /* Smooth scrolling für mobile Geräte */
}
/* Scrollbar immer ausblenden */
.table-container::-webkit-scrollbar {
    width: 0px;   /* Setzt die Breite der vertikalen Scrollbar auf 0 */
    background: transparent; /* Hintergrund transparent, um sicherzustellen, dass sie nicht angezeigt wird */
}

/* Für die horizontale Scrollbar */
.table-container::-webkit-scrollbar:horizontal {
    height: 0px;  /* Macht die horizontale Scrollbar unsichtbar */
}

/* Optionale Verbesserungen für die Tabelle */
.table {
    width: 100%;  /* Stellt sicher, dass die Tabelle den verfügbaren Platz einnimmt */
    border-collapse: collapse;  /* Sorgt für eine saubere Darstellung */
}

.table th, .table td {
    background-color: #eee8e8;
    color: #2d2d2d;
    padding: 8px;  /* Innenabstand */
    text-align: left;  /* Text linksbündig */
    border: 0;
}

/* Optional: Tabelle horizontal scrollbar für größere Bildschirme */
@media (max-width: 767px) {
    .table-container {
        max-width: 100%;  /* Verhindert horizontales Scrollen auf kleinen Geräten */
    }
    h1{
        font-size: 20px;
    }

    .show-navbar{
        display: blocK;
    }
}

.setup_date{
    display: none;
}

.text-color-brink{
    color: #43A4CE;
}

.c-pointer{
    cursor: pointer;
}

.shadow-nav{
    -webkit-box-shadow: 50px 2px 20px 14px rgba(74,74,74,0.8);
    box-shadow: 50px 2px 20px 14px rgba(74,74,74,0.8);
}

.nav-width{
    flex: 0 0 auto;
    width: 100%;
}

.sidebar-btn-white{
    color: white !important;
}


@media(min-width: 798px){
    .nav-width{
        width: 20vw;
    }
}

@media(min-width: 1200px){
    .nav-width{
        width: 20vw;
    }
}

@media(max-width: 1200px){
    .text-nowrap-sm {
        white-space: nowrap !important;
    }
}