input[type="text"] {
    border: 1px solid #e7e7e7;
    border-radius: 8px;
    padding: 8px 8px;
}

input[type="email"] {
    border: none;
    border-radius: 8px;
    padding: 8px 8px;
}

button[type="submit"] {
    background-color: #43A4CE;
    border: none;
    padding: 8px 16px;
    color: white;
    font-weight: bold;
    border-radius: 8px;
}

button[type="submit"]:hover{
    background-color: #3691B7;
}

select {
    border: none;
    border-radius: 8px;
    padding: 16px; /* Optional: für mehr Platz */
    font-size: 16px; /* Optional: für Textgröße */
    appearance: none;
    outline: none; /* Entfernt die Fokuskontur */
}
