/* Layout and Sidebar Styles */

body {
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 1rem 0;
    box-shadow: inset -1px 0 0 rgba(0,0,0,.1);
}

.sidebar-sticky {
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto;
}
