<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script src="https://kit.fontawesome.com/76c5d28c5a.js" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
    <div class="container-fluid my-5">
        <div class="row">
            {% include 'navigation.html.twig' %}
            <main class="col-md-9 col-lg-10 px-md-4 w-xl-75">
                {% block body %}{% endblock %}
            </main>
        </div>
    </div>
    </body>

</html>

{% block styles %}
    <style>
        body {
            overflow-x: hidden;
        }
        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 100;
            padding: 1rem 0;
            box-shadow: inset -1px 0 0 rgba(0,0,0,.1);
        }
        .sidebar-sticky {
            height: calc(100vh - 48px);
            overflow-x: hidden;
            overflow-y: auto;
        }
    </style>
{% endblock %}

