<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script src="https://kit.fontawesome.com/76c5d28c5a.js" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
    <div class="row w-50 p-3">
        <div id="sidebarControls">
            <i id="showSidebarBtn" class="sidebar-btn p-1 fas fa-bars"></i>
        </div>
    </div>
    <div class="container-fluid my-5">
        <div class="row">
            {% include 'navigation.html.twig' %}

            <main class="col-md-9 col-lg-10 px-md-4 w-xl-75">
                <div id="title-bar">
                    <div class="row d-flex justify-content-between">
                        <div class="col-6">
                            <h1>{% block header %}Brink Veranstaltungstechnik{% endblock %}</h1>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            {% block usercontrols %}
                            <div class="usercontrols d-flex align-items-center">
                                <i class="text-danger fas fa-truck-loading pe-2"></i>
                                <i class="text-primary fas fa-cog pe-2"></i>
                                <i class="text-primary fas fa-search pe-2"></i>
                                <i class="text-primary fas fa-sign-out-alt pe-2"></i>
                                <img src="{{ asset('img/avatar.png') }}" width="32px">
                            </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>
                {% block body %}
                {% endblock %}
            </main>
        </div>
    </div>
    </body>
</html>

