{% extends 'base.html.twig' %}

{% block title %}Neues Checklist-Template | Brink VA{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Neues Checklist-Template erstellen</h1>
    </div>

    {{ include('checklist_template/_form.html.twig') }}
</div>
{% endblock %}
